<div class="row container">
  <div class="col-6">
    <form [formGroup]="formGroup"
          (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email"
               class="form-control"
               [class.is-valid]="email.valid"
               [class.is-invalid]="email.invalid"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               formControlName="email"
               placeholder="Enter email">
        <small id="emailHelp"
               class="form-text text-muted">We'll never share your email with anyone else.
        </small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"
               class="form-control"
               id="exampleInputPassword1"
               [class.is-valid]="password.valid"
               [class.is-invalid]="password.invalid"
               formControlName="password"
               placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox"
               class="form-check-input"
               [class.is-valid]="checkbox.valid"
               [class.is-invalid]="checkbox.invalid"
               formControlName="checkbox"
               id="exampleCheck1">
        <label class="form-check-label"
               for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit"
              class="btn btn-primary">Submit
      </button>
    </form>
  </div>
</div>
